<h1> <%= @song.name %> </h1>
<p> <%= link_to @song.artist.name, artist_path(@song) %>  </p>
<p> <%= link_to @song.genre.name, genre_path(@song) %>  </p>



<%= link_to "Edit", edit_song_path(@song) %>

<%= link_to "Song Index Page", songs_path %>